body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

.appscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    height: 660px;
    background-color: gray;
    border: solid black;
    border-radius: 30px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.appname {
    border-top-left-radius: 30px; 
    border-top-right-radius: 30px;
    width: 500px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    color: white; 
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;

}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

}

.input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px; 
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 150px;
    margin-top: 10%; 
    border: solid black;

}

.weight {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.submit-button {
    position: absolute;
    top: 46%; 
}


.final-display {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 180px;
        width: 467px;
        background-color: white;
        border: solid black;
        text-align: center;

}

.exercise-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 10%;

}

.duration-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 3%; 

}

.weight-div {
    text-align: center;
}

p {
    font-size: larger;
}

a {
    color: rgb(78, 163, 192);
}